.background-container {
  position: relative;
  background-image: url('../img/fondo.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ajustar según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 90%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ea2f2f84;
  border-radius: 10px;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  max-height: 80vh; /* Altura máxima del contenedor */
}

.form-container div {
  margin-bottom: 15px;
}

.form-container label {
  font-weight: bold;
}

.form-container p {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container textarea {
  height: 100px; /* Ajustar según sea necesario */
}

.form-container .submit-button-container,
.form-container .button-container {
  text-align: center;
  margin-top: 20px;
}

.form-container .submit-button,
.form-container .create-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ea2f2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container .submit-button:hover,
.form-container .create-button:hover {
  background-color: #c62222;
}

.form-container .error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .form-container {
    width: 95%;
  }
}
.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin-bottom: 10px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 10px;
}
